
.main-wrap {
   
    // width: 90%;
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-index{

    .banner {
        width: 100%;
        background: #345;
        height: 100vh;
    }

    .index-head {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: #666;
        
    }

    .banner-content {
        width: 90%;
        margin: 0 auto;
    }

    .logo {
        width: 156px;
        height: 37px;
        font-size: 22px;
        color: #fff;
        line-height: 37px;
        cursor: pointer;
    }

    .logo:hover {

    } 

    .func {
        display: flex;
    }

    .func li{
        color: #fff;
        height: 32px;
        margin-left: 55px;
        line-height: 32px;
        cursor: pointer; 
        font-size: 14px;
        transition: all .3s;
    }

    .func li:hover {
        color: #18A7AA;
    }

    .func li:nth-child(3) {
        width: 75px;
        text-align: center;
        background: #18A7AA;
        color: #fff;
        border-radius: 15px;
        font-weight: 400;
       
    }

    .func li:nth-child(3):hover {
        
    }

    .index-desc {
        height: calc(100vh - 60px);;
        padding-top: 38px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .index-desc h1 {
        font-size: 48px;
        color: #fff;
    }

    .index-desc p {
        font-size: 12px;
        width: 400px;
        color: #fff;
    }

    .posi-botton {
        margin-top: 30px;
        width: 200px;
        height: 50px;
        text-align: center;
        border-radius: 25px;
        line-height: 50px;
        background: #18A7AA;
        color: #fff;
    }

}

@media screen and (max-width: 1280px ) {
    // .main-wrap {
   
    //     width: 1280px;
    //     margin: 0 auto;
    //     padding: 0 16px;
    // }
 }